# macOS
.DS_Store

# Terraform working directory
terraform/.terraform/

# Terraform state
terraform/*.tfstate
terraform/*.tfstate.*

# Crash logs
terraform/crash.log

# Variable files containing secrets (optional)
terraform/*.auto.tfvars